@font-face
  font-family Acrom
  src url('~@/assets/fonts/Acrom.ttf')

@font-face
  font-family AcromLight
  src url('~@/assets/fonts/AcromLight.ttf')

@font-face
  font-family AcromMedium
  src url('~@/assets/fonts/AcromMedium.ttf')

@font-face
  font-family AcromBold
  src url('~@/assets/fonts/AcromBold.ttf')

@font-face
  font-family AcromExtraBold
  src url('~@/assets/fonts/AcromExtraBold.ttf')

@font-face
  font-family ProximaNovaBlack
  src url('~@/assets/fonts/ProximaNovaBlack.ttf')

@font-face
  font-family GilroyBlack
  src url('~@/assets/fonts/GilroyBlack.otf')