forestGreenTraditional = '#053B06'
lincolnGreen = '#0B5D1E'
greenPigment = '#139A43'
greenGrayola = '#0DAB76'

high-secondary = #ce1717
high-primary = #ff2a00

medium-secondary = #fb8234
medium-primary = #fac231

light-secondary = #0d8298
light-primary = #21b4cc

default-secondary = #8787a7
default-primary = #c8c8de

gray = #9b9b9b
light-gray = #dfdfe0
medium-gray = #b9b9b9
light-violet = #cccce4