/*
 * Copyright (c) 2021 Loper.me <bizrenay@gmail.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@font-face
  font-family Acrom
  src url('~@/assets/fonts/Acrom.ttf')

@font-face
  font-family AcromLight
  src url('~@/assets/fonts/AcromLight.ttf')

@font-face
  font-family AcromMedium
  src url('~@/assets/fonts/AcromMedium.ttf')

@font-face
  font-family AcromBold
  src url('~@/assets/fonts/AcromBold.ttf')

@font-face
  font-family AcromExtraBold
  src url('~@/assets/fonts/AcromExtraBold.ttf')

@font-face
  font-family ProximaNovaBlack
  src url('~@/assets/fonts/ProximaNovaBlack.ttf')

@font-face
  font-family GilroyBlack
  src url('~@/assets/fonts/GilroyBlack.otf')
