linearGradient(startColor, endColor, deg = to right, start = 0%, end = 45%)
  return linear-gradient(deg, startColor start, endColor end)

radialGradient(startColor, endColor, deg = circle at)
  return radial-gradient(deg 50%, startColor, endColor 100%)