/*
 * Copyright (c) 2021 Loper.me <bizrenay@gmail.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

forestGreenTraditional = '#053B06'
lincolnGreen = '#0B5D1E'
greenPigment = '#139A43'
greenGrayola = '#0DAB76'

high-secondary = #ce1717
high-primary = #ff2a00

medium-secondary = #fb8234
medium-primary = #fac231

light-secondary = #0d8298
light-primary = #21b4cc

default-secondary = #8787a7
default-primary = #c8c8de

gray = #9b9b9b
light-gray = #dfdfe0
medium-gray = #b9b9b9
light-violet = #cccce4
